<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
    <form>

      <a href="https://www.mozilla.org/en-GB/">Visit Firefox</a>

    </form>
    </section>
  </body>
</html>