<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <ul>
        <% @bookmarks.each do |bookmark| %>
          <li><%= bookmark %></li>
          <% end %>
      </ul>
    </section>
    <section id='add_button'>
      <form action='/add_bookmark'>
        <input type='submit' value='Add Bookmarks'>
      </form>
    </section>
  </body>
</html>